<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    version="2.5">

    <!-- Servlets -->
    <servlet>
        <servlet-name>RpcServlet</servlet-name>
        <servlet-class>org.gonevertical.project.server.RpcServiceImpl</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>RpcServlet</servlet-name>
        <url-pattern>/project/rpcService</url-pattern>
    </servlet-mapping>

</web-app>